<!DOCTYPE html>
<html lang="en">
{% extends 'aboutus/base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">

    <title>Home Page</title>
</head>
<br><br>
<body><h1 class="title">Speed Burger</h1>
<br><br>




 <ul class="horizontal_menu">
                        <li><a href="/products">Menu</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/contactus">Contact Us</a></li>

                    </ul>
 {% if user.is_authenticated %}
        <div class="page-container">
            <h2 class="top-menu">Hello {{ user.username }},</h2>
            <p>Please choose from options below.</p>
        </div>
    {% else %}
        <p>Please choose from options below.</p>
    {% endif %}
<br><br><br>
<h2 class="bestllers">Best Sellers</h2>
<div class="responsive">
  <div class="gallery">
             <img src="/static/images/cheese.png" width="100" height="300">
       <div class="desc">Classic Cheese Burger</div>

  </div>
</div>


<div class="responsive">
  <div class="gallery">

        <img src="/static/images/steak.png" width="100" height="300">

  <div class="desc">Omaha Beef Steak Burger</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">

        <img src="/static/images/mushroom.png" width="100" height="300">

  <div class="desc">Vegan Mushroom</div>
  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br>
 <ul class="horizontal_menu">
                <br><br><br>
               <li><a href="#">Terms &amp; Conditions</a> | </li>
                <li><a href="#">Privacy Policy</a> | </li>
               <li><a href="/contactus">Contact</a> </li>
 </ul>

            <p>Copyright &copy; Speedburger.com 2021</p>
          </div>



</body>
