<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <meta charset="UTF-8">
    <title>SpeedBurger</title>
</head>

<body>
<h1 class="title">Speed Burger</h1>
  <br><br>
        <ul class="horizontal_menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                    </ul>
 
<h2 class="bestllers">Best Sellers</h2>
<div class="responsive">
  <div class="gallery">
             <img src="/static/images/cheese.png" width="100" height="300">
       <div class="desc">Classic Cheese Burger</div>

  </div>
</div>


<div class="responsive">
  <div class="gallery">

        <img src="/static/images/steak.png" width="100" height="300">

  <div class="desc">Omaha Beef Steak Burger</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">

        <img src="/static/images/mushroom.png" width="100" height="300">

  <div class="desc">Vegan Mushroom</div>
  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<h2 class="meats">Meat Lovers</h2>

<div class="responsive">
  <div class="gallery">

        <img src="/static/images/steak.png" width="100" height="300">

  <div class="desc">Omaha Beef Steak Burger $6.5</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
             <img src="/static/images/cheese.png" width="100" height="300">
       <div class="desc">Classic Cheese Burger $6.5</div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
             <img src="/static/images/blt.png" width="100" height="300">
       <div class="desc">Classic BLT $7.0</div>

  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h2 class="meats">Vegan</h2>

<div class="responsive">
  <div class="gallery">

        <img src="/static/images/mushroom.png" width="100" height="300">

  <div class="desc">Vegan Mushroom $5.9</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">

        <img src="/static/images/mix.jpg" width="100" height="300">

  <div class="desc">Mix Veggie Burger $5.9</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">

        <img src="/static/images/nuts.jpg" width="100" height="300">

  <div class="desc">Nuts Burger $5.9</div>
  </div>
</div>



</body>
</html>
